body{
    background-color:rgb(226, 226, 226) ;
}

.navbar-light{
    background-color:white;
}
.navbar-brand img{
        margin-top: 30px;
        margin-left: 150px;
        margin-right: 100px;
        margin-bottom: 20px;
       }


.navbar-nav {
    margin-top:30px;
    
    
    
}
   
.nav-item {
    margin-right:40px;
}

.nav-item img{
    margin-bottom: 7px;
    margin-left: 80px;
    margin-right:-30px;
}



.small{
    color : #FF8C00;
    padding-top:20px;
    margin-left:-65px;
    
    
    
}

#faixa{
    background-color: #FF8C00;
    padding-bottom: 130px;
   
}

.faixa2{
    margin-top: -65px;
    background: white;
    padding-top:100px;
    padding-bottom: 400px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom:80px;
    
    
   }

.bloco1{
    padding-top:100px;
    padding-left:110px;
    border-radius: 20px;
    background: linear-gradient(white,rgb(226, 226, 226));
    width: 250px;
    height: 200px;;
    margin-left:43px;
    margin-top:50px;
    float: left;
    

}

.bloco1 img{
   margin-left: -35px;
   margin-top: -55px;
}

.texto{
    margin-top:20px;
    margin-left:-30px;
}

.texto2{
    margin-top:10px;
    margin-left:-22px;
}

.texto3{
    margin-top:18px;
    margin-left:-20px;
}

.faixa3{
    background-color: black;
    color:rgb(226, 226, 226);
    padding-bottom: 8px;
}
.texto{
    padding-top: 15px;
}

span{
    color:orange;
}

